/* CSS declarations go here */
body {
    font-family: Georgia;
    font-size: 160%;
    line-height: 160%;
}

#content {
    margin: 0 auto;
    padding: 0 1em;
    max-width: 37em;
    position: relative;
    width: 61.8%;
}

/*Landing Page Elements*/

#landing-page {

}

#auth-buttons {

}

form#auth-login {

}

form#auth-signup {

}
