/* CSS declarations go here */
/** {
  border: 1px solid blue;
}*/

body {
    font-family: Georgia;
    font-size: 160%;
    line-height: 160%;
}

#content {
    margin: 0 auto;
    padding: 0 1em;
    max-width: 37em;
    position: relative;
    width: 61.8%;
}

img#logo {
  width: 300px;
}

/*Landing Page Elements*/

#landing-page {
  margin: 0 auto;
  text-align: center;
}

#auth-buttons {

}

form#login {
  display: none;
  margin: 0 auto;
  text-align: center;
}

form#signup {
  display: none;
  margin: 0 auto;
  text-align: center;
}

.detail {

}

/* Profile Page Elements */

#profile-container {
 padding: 2em;
}

form#target-weight {
 display: none;
}

form#current-expenditure {

}

/* Goal Partial */

#goal_weight {
  padding-bottom: 2em;
}

/* Expenditure Partial */
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th,td {
    padding: 15px;
    text-align: center;
}
