<div id="landing-page">
  <h1>How Much Should I Eat?</h1>
  <p>Welcome to How Much Should I Eat (HMSIE)?</p>
  <p>Login or Signup below and start being informed</p>

  <div id='auth-buttons'>
    <form id='auth-login' action='/login'>
      <input type='submit' value='Login'>
    </form>

    <form id='auth-signup' action='/signup'>
      <input type='submit' value='Signup'>
    </form>
  </div>


</div>
